/* Geral */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@400;800&display=swap');

:root{
    --primary-color: #69B99D;
    --secondary-color: #CCF4E6;
    --dark-color: #0F241D;
    --gray-color:#767676;
    --bg-color:#F9F9F9;
    font-size: 62.5%;
    --nav-heigth: 4.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

html,
body{
    overflow: auto;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color:#000000;
    background-color: #FFFFFF;
}
main{   
    padding-top:3.2rem;
}

h1,h2{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
}

h1{
    font-size: 2.1rem;
    line-height: 3.2rem;
}

h2{
    font-size: 3rem;
    line-height: 4.5rem;
}

p{
    line-height: 2.1rem;
    text-align: center;
    color: var(--gray-color);
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    border: none;
}
section{
    padding-block: 8rem;
}

ul{
    list-style: none;
}

#divider-1{
    position: relative;
    height: 2px;
    background: linear-gradient(270deg, #69B99D 0%, rgba(204, 244, 230, 0.34) 100%);
}

.title{
    font-size: 3rem;
    line-height: 4.5rem;
    font-weight: 800;
    color: var(--dark-color);
}

.grid{
    display: grid;
    gap: 3.2rem;
}

.wrapper{
    width: min(37.5rem, 100%);
    margin: 0 auto;
    padding-inline: 2.4rem;
    box-sizing: border-box;
}
/* Geral */
/* Header Nav */

#header{
    border-bottom: 1px solid #ededed;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: var(--bg-color);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#header a.logo{
    text-decoration: none;
    color: var(--dark-color);
}

#header a.logo span{
    color: var(--primary-color);
}

#header a.logo:hover span{
    color: var(--dark-color);
}

#header nav{
    height: var(--nav-heigth);
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav .fa-solid.fa-xmark{
    visibility: hidden;
    opacity: 0;
}

nav.show .fa-solid.fa-xmark{
    visibility: visible;
    opacity: 1;
    font-size: 3.2rem;
    position: absolute;
    right: 2rem;
}



nav ul li{
    text-align: center;
}

nav ul li a{
    transition: color 0.3s ease-in-out;
    position: relative;
    padding-bottom: 2rem;
}

nav ul li a:hover{
    color: var(--primary-color);
}

nav ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2rem;
    height: 2px;
    width: 0%;
    transition: width 0.1s ease-in;
}

nav ul li a:hover::after{
    width: 100%;
    background-color: var(--primary-color);
}

nav .menu {
    opacity: 0;
    visibility: hidden;
}

nav.show .menu{
    opacity: 1;
    visibility: visible;
    background: var(--bg-color);

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

nav.show{
    display: grid;
    place-content: center;
}

nav.show ul.grid{
    gap: 6.4rem;
}

nav.show .menu
/* Header Nav */
/* Home */
#home{
    background-color: var(--bg-color);
    overflow: hidden;
}

#home .wrapper {
    padding: 0;
}

#home .wrapper .content.col-b{
    padding-inline: 2.4rem;
}

#home .col-a img{
    position: relative;
    right: 4.7rem;
    /* box-shadow: 89px -32px 0px 0px var(--secondary-color); */
    border-radius: 4px;
    overflow: hidden;
}

#home .col-a{
    position: relative;
}

#home .col-a::before{
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);

    position: absolute;
    top: -16.5%;
    left: 3.8rem;
    border-radius: 4px;
}

#home h2.title{
    margin-bottom: 1.6rem;
    text-align: center;
    font-size: 3rem;
    line-height: 4.5rem;
}

#home p{
    margin-bottom: 3.2rem;
}

#home a.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 3.2rem;
    background-color: var(--primary-color);
    border-radius: 4px;
    margin-inline: 5.8rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    color: var(--bg-color);
    transition: .3s ease-in-out;
}
#home a.btn:hover{
    background-color: var(--dark-color);
}
/* Home */
/* About */

#about{
    overflow: hidden;
}
#about .wrapper{
    padding: 0;
}

#about .wrapper .content.col-b{
    padding-inline: 2.4rem;
}

#about .col-a img{
    z-index: 100;
}

#about .col-a{
    position: relative;
    /* box-shadow: -180px -32px 0px 0px var(--secondary-color); */
    border-radius: 4px;
    z-index: 1;
}

#about .col-a::before{
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);

    position: absolute;
    top: -16.5%;
    left: -18.8rem;
    border-radius: 4px;
    z-index: -1;
}


#about .content.col-b h2{
    margin-bottom: 1.6rem;
}

#about .content.col-b p{
    text-align: left;
    padding-bottom: 4.3rem;
}

/* About */
